<font size="6">Welcome Page</font>
<% @questions.each do |e| %>
<p>
  <%= e.que %>
  <%= e.answer1 %>
  <%= e.answer2 %>
  <%= e.answer3 %>
  <%= e.answer4 %>
  <%= link_to '削除', question_path(e), method: :delete %>
</p>
<% end %>

<p> 
<% if session[:login_uid] %>
  <%= link_to 'クイズ作成', "/questions/new" %>
<% end %>

<create>
  <%= link_to 'クイズ作成', "/questions/new" %>
</create>

<p>
  <%= link_to '登録', users_path %>
</p>

</p>