<h1><div aligen="center">回答者ページ</h1>
<p>問題</p>
<p>
    <%= @question.body %>
</p>

<p>
   <%= @answer %> 
</p>


<% if session[:answer] %>
    <% if session[:answer] == "正解" %>
        <a class="circle"></a>
    <% else %>
    　　<div class="container">
          <div class="batu"></div>
        </div>
    <% end %>
<% end %>

<p>選択肢</p>
    <%= @question.id %>
<br>
<br>
<% if session[:answer] %>
    <% if session[:qarray].present? %>
        <%= link_to '次の問題に進む', "/questions/#{@nextid}/quiz" %>
    <% else %>
        <%= link_to '戻る', questions_path %>
    <% end %>
<% end %>

<%= session[:qarray] %>
<%= @nextid %>