<font size="6">回答者ページ</font>
<%= form_for @question, url: {action: :create} do |f| %>
    <p>
        <%= f.label :que, '問題を入力してください' %>
    </p>
        <%= f.text_area :que %>
        
    <p>
        <%= f.label :que, '答えを入力してください' %>
    </p>
        <%= f.text_area :que %>
    
    <p>
        <%= f.submit '投稿' %>
    </p>
<% end %>