<% if @question.errors.present? %>
    <ul>
    <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    </ul>
    <% end %>
<% end %>

<%= form_with model: @question, local:true do |f| %>
    <h2>
        <%= f.label :body, '問題文' %>
    </h2>
        <%= f.text_area :body, class: "form-control", style: "width:90%", rows: "5", placeholder: "問題を入力してください" %>
    
    <div class="recipe-ingredients">
        <div class="mx-auto">
            <%= f.fields_for :choices, @question.choices.build do |choice| %>
            <div class = "test">
            <div>
                <thead class="pb-1"><h5 class="mb-0"><%= "選択肢" %></h5></thead>
                <%= render "questions/choice_fields", f: choice %>
            <% end %>
        </div>
        
        <div id="detail-association-insertion-point"></div>
        
        
        <div class="col-10 mx-auto mt-2">
            <%= link_to_add_association "+フォームを追加", f, :choices,
            class: "btn btn-secondary btn-block",
            data: {
            association_insertion_node: '#detail-association-insertion-point',
            association_insertion_method: 'before'
            }%>
        </div>
    </div>
    
    <p>
        <%= f.submit '投稿' %>
    </p>
<% end %>
