<font size="6">回答者ページ</font>
<%= form_for @question, url: {action: :create} do |f| %>
    <p>
        <%= f.label :que, '問題を入力してください' %>
    </p>
        <%= f.text_area :que %>
    
    <p>答え1</p>
    <%= f.text_area :answer1 %>
    
    <p>答え2</p>
    <%= f.text_area :answer2 %>
    
    <p>答え3</p>
    <%= f.text_area :answer3 %>
    
    <p>答え4</p>
    <%= f.text_area :answer4 %>
    
    <p>
        <%= f.submit '投稿' %>
    </p>
<% end %>