<h1><div aligen="center">回答者ページ</h1>
<h2>問題</h2>
<p>
    <%= @question.que %>
</p>

<p>選択肢</p>
<p>1.
    <%= @question.answer1 %>
</p>

<p>2.
    <%= @question.answer2 %>
</p>

<p>3.
    <%= @question.answer3 %>
</p>

<p>4.
    <%= @question.answer4 %>
</p>

<%= form_for @question, url: {action: :update} do |f| %>
    <p>答えを選択してください</p>
    <%- answers = [
        ["answer1", '1'],
        ["answer2", '2'],
        ["answer3", '3'],
        ["answer4", '4']
    ] %>

    <%= f.collection_radio_buttons(:choice, answers, :first, :second) %>
    
    <p>
        <%= f.submit '回答' %>
    </p>
    
<% end %>

<%
=begin
<%>
<%= form_tag questions_mark_path do %>
  <% @questions.each do |quiz| %>
    <%= quiz.id %>
    <%= hidden_field_tag "quiz[]", quiz.id %>
    <%= text_field_tag "quiz#{quiz.id}" %>
  <% end %>
  <%= submit_tag "回答" %>
<% end %>

<p>
<%= @question_id %>
</p>

<%
=end 
%>