<font size="6">回答者ページ</font>
<%= form_for @question, url: {action: :update} do |f| %>
<% @question.each do |e| %>
    <p>
        <%= e.id %>
    </p>
    
    <p>
        <%= e.answer1 %>
    </p>
    
    <p>
        <%= e.answer2 %>
    </p>
    
    <p>
        <%= e.answer3 %>
    </p>
    
    <p>
        <%= e.answer4 %>
    </p>
<% end %>
    <p>答えを選択してください</p>
    <%- answers = [
        ["answer1", '解答1'],
        ["answer2", '解答2'],
        ["answer3", '解答3'],
        ["answer4", '解答4']
    ] %>

    <%= f.collection_radio_buttons(:choice, answers, :first, :second) %>
    
    <p>
        <%= f.submit '回答' %>
    </p>
    
<% end %>