<div class="login_form">
    <div class="login_form_title">ログイン</div>
    <div class="login_form_content">
        <%= form_tag '/top/login', method: :post do %>
            <div class="login_form_list">
                <%= label_tag :uname, 'ユーザーネーム' %>
                <%= text_field_tag :uname %>
                <%= label_tag :pass, 'パスワード' %>
                <%= password_field_tag :pass %>
                <%= submit_tag '登録', id: "login" %>
            </div>
        <% end %>
    </div>
</div>